{% extends 'main.html' %}


{% block content %}

<div class="container">
	<h1> Liste des opérations enregistrées </h1>

	<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
	      Ajouter une opération
	    </button>
	    <ul class="dropdown-menu">
	      <li><a class="dropdown-item" href="{{ url_for('addMovement', type_operation='Dépense') }}">Une dépense</a></li>
	      <li><a class="dropdown-item" href="{{ url_for('addMovement', type_operation='Recette') }}">Une recette</a></li>
	      <li><a class="dropdown-item" href="{{url_for('addTransfer', type_transfer = 'Internal')}}">Une régule entre comptes</a></li>
	      <li><a class="dropdown-item" href="{{url_for('addTransfer', type_transfer='Refund')}}">Un remboursement de frais</a></li>
	    </ul>
	  </div>
	</div>

<br><br><br>
  <!-- Table des opérations -->
  {% include 'shared/operations_table.html' %}

<a class="btn btn-success btn-right" href="{{ url_for('operationsCSV') }}"> <i class="fa fa-download"></i> Exporter toutes les opérations en csv </a>

</div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}