{% extends 'main.html' %}

{% block content %}

<div class="container">
    {% if Budget %}
      <h1> Modifier une masse salariale </h1>
    {% else %}
      <h1> Déclarer la masse salariale </h1>
    {% endif %}
    
      <form method = "post" enctype="multipart/form-data" novalidate>
        <div class="row">
         <div class="form-group col-md-6">
            <label for = "id_member"><strong>Salarié *</strong></label>
            {{ form.id_member(class="form-control") }}
            {% for error in form.id_member.errors %} 
                <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div>
        </div>

        <br>

        <div class="row">
          <div class="form-group col-md-4">
            <label for = "period_month"><strong>Mois salarié *</strong></label><br>
              {{ form.period_month(class="form-control") }}
              {% for error in form.period_month.errors %} 
                <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
              {% endfor %}
          </div>
          <div class="form-group col-md-4">
            <label for = "period_year"><strong>Année *</strong></label><br>
            {{ form.period_year(class="form-control") }}
            {% for error in form.period_year.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
          <div class="form-group col-md-4">
            <label for = "worked_days"><strong>Nombre réel de jours travaillés *</strong></label><br>
            {{ form.worked_days(class="form-control") }}
            {% for error in form.worked_days.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
        </div>

        <br>

        <div class="row">
           <div class="form-group col-md-4">
            <label for = "gross_remuneration"><strong>Rémunération brute *</strong></label>
            <br>
            <small class="text-muted">Eléments déclarés en brut - Rémunération</small></br>
            {{ form.gross_remuneration(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point.</small>
            {% for error in form.gross_remuneration.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div>
          <div class="form-group col-md-4">
            <label for = "gross_premium"><strong>Primes brutes *</strong></label><br>
            <small class="text-muted">Eléments déclarés en brut - Primes</small></br>
            {{ form.gross_premium(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point.</small>
            {% for error in form.gross_premium.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
          <div class="form-group col-md-4">
            <label for = "employer_charge_amount"><strong>Charges patronales *</strong></label><br>
            <small class="text-muted">"Montant total des cotisations retenues : part employeur"</small></br>
            {{ form.employer_charge_amount(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point.</small>
            {% for error in form.employer_charge_amount.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div>
        </div>

        <br><br>

        <div class="form-group col-md-6">
          <label for = "uploaded_file"><strong>Bulletin de paie *</strong></label><br>
            {{ form.uploaded_file(class="form-control") }}

            {% for error in form.uploaded_file.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          <!-- Keep previous uploaded file checkbox -->
          {% if payroll.uploaded_file %}
            <div class="form-group">
              <label for = "keep_file">Conserver le <a href="{{ url_for('static', filename=payroll.uploaded_file) }}"> bulletin de paie fourni précédemment</a></label>
              {{ form.keep_file(class="form-check-input", checked=true) }}
            </div>
          {% endif %}
        </div>

        <br><br>
        <input class="btn btn-primary float-right" type = "submit" value = "Enregistrer" />
      </form>
</div>


<!-- Make employee field searchable with select2-->
<script>
$(document).ready(function() {
    $('#id_member').select2({  // init Select2 on form's name field
        placeholder: "Sélectionnez un salarié",
        allowClear: true
    });
});
</script>

{% endblock %}