{% extends 'main.html' %}

{% block content %}

<div class="container">
      <form method = "post" enctype="multipart/form-data" novalidate>
        <h1> Allouer du temps à un projet </h1>

        <div class="row">
         <div class="form-group col-md-4">
            <label for = "id_budget"><strong>Ligne budgétaire - projet*</strong></label><br>
            {{ form.id_budget(class="form-control required") }}
            {% for error in form.id_budget.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
         <div class="form-group col-md-4">
            <label for = "nb_days_allocated"><strong>Nombre de jours ouvrés consacrés au projet*</strong></label><br>
            {{ form.nb_days_allocated(class="form-control required") }}
            <small class="text-muted">Le séparateur de décimale doit être un point</small>
            {% for error in form.nb_days_allocated.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div>
          <div class="form-group col-md-4">
            <label for = "fixed_cost"><strong>Cout forfaitaire (€/jour)*</strong></label><br>
            {{ form.fixed_cost(class="form-control") }}
            <small class="text-muted">Le séparateur de décimale doit être un point</small>
            {% for error in form.fixed_cost.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          </div> 
        </div>

        <br><br>
        <input class="btn btn-primary float-right" type = "submit" value = "Enregistrer" />
      </form>
</div>
{% endblock %}