{% extends 'main.html' %}

{% block content %}
<div class="container">
	<h1> Masse salariale et répartition par projet </h1>

<!-- Budget -->

    <div class="card">
      <div class="card-header">
        <h4>Informations sur la masse salariale
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4"> 
            <strong>Salarié : </strong>{{payroll.member_name}}
            <br>
            <br>
          </div>
          <div class="col-md-4"> 
            <strong>Période : </strong> du {{payroll.date_min_period}} au {{payroll.date_max_period}}
            <br>
          </div>
          <div class="col-md-4"> 
            <strong>Nombre de jours travaillés : </strong>{{ payroll.real_worked_days }}
            <br>
          </div>
          <div class="col-md-4"> 
            <strong>Rémunération brute : </strong>{{payroll.gross_remuneration}} €
            <br>
            <small class="text-muted">Catégorie fiscale 641 - Rémunération du personnel</small>
          </div>
          <div class="col-md-4"> 
            <strong>Primes brutes : </strong>{{payroll.gross_premium}} €
            <br>
            <small class="text-muted">Catégorie fiscale 641 - Rémunération du personnel</small>
          </div>
          <div class="col-md-4"> 
            <strong>Charges patronales : </strong>{{payroll.employer_charge_amount}} €
            <br>
            <small class="text-muted">Catégorie fiscale 645 - Charges de sécurité sociale et prévoyance</small> 
          </div>
        </div>
        <br><br>

        <div class="btn-group">
          <a class="btn btn-warning" href="{{ url_for('updatePayroll', id_payroll=payroll.id_payroll) }}"> <i class="fa fa-edit"></i> Modifier</a>
          <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"> <i class="fa fa-trash"></i> Supprimer </a>        
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Supprimer la masse salariale</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p> Souhaitez-vous vraiment supprimer cette masse salariale de {{payroll.member_name}} pour la période du {{payroll.date_min_period}} au {{payroll.date_max_period}} ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a class="btn btn-danger" href="{{ url_for('deletePayroll', id_payroll=payroll.id_payroll) }}"> <i class="fa fa-trash"></i> Confirmer la suppression </a>
              </div>
            </div>
          </div>
        </div> <!-- end modal -->
      </div> <!--end card body-->
    </div>
  

    <div class="card">
      <div class="card-header">
        <h4>Décompte de la masse salariale par projet
        </h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Budget</th>
                    <th>Temps alloué</th>
                    <th>Décompte au prorata</th>
                    <th>Cout forfaitaire</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                     <td></td>
                <tbody>
                  
                </tbody>
              </table>
              
              <a class="btn btn-success" href="#"> <i class="fa fa-plus"></i> Attribuer du temps à un projet </a>        

            </div>
        </div>
      </div>
    </div>

   
</div>

{% endblock %}