{% extends 'main.html' %}

{% block content %}
<div class="container">
	<h1> Valorisation du bénévolat et répartition par projet </h1>

<!-- Budget -->

    <div class="card">
      <div class="card-header">
        <h4>Informations sur la valorisation du bénévolat
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4"> 
            <strong>Membre bénévole : </strong>{{volunteering.member_name}}
            <br>
            <br>
          </div>
          <div class="col-md-4"> 
            <strong>Période : </strong> du {{volunteering.date_min_period|format_datetime}} au {{volunteering.date_max_period|format_datetime}}
            <br>
          </div>
          <div class="col-md-4"> 
            <strong>Nombre de jours bénévoles valorisés : </strong>{{ volunteering.real_worked_days }}
            <br>
          </div>
          <div class="col-md-4"> 
            <strong>Coût journalier appliqué : </strong>{{volunteering.volunteering_valuation/volunteering.real_worked_days}} €
            <br>
          </div>
          <div class="col-md-8"> 
            <strong>Équivalent de bénévolat valorisé : </strong>{{volunteering.volunteering_valuation }} €
            <br>
            <small class="text-muted">Catégories fiscales 870 (valorisation du bénévolat) et 86 (emploi des contributions volontaires)</small> 
          </div>
        </div>
        <br><br>

        <div class="btn-group">
          <a class="btn btn-warning" href="{{ url_for('updateVolunteering', id_work_value=volunteering.id_work_value) }}"> <i class="fa fa-edit"></i> Modifier</a>
          <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"> <i class="fa fa-trash"></i> Supprimer </a>        
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Supprimer la masse salariale</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p> Souhaitez-vous vraiment supprimer cette valorisation du bénévolat de {{volunteering.member_name}} pour la période du {{volunteering.date_min_period|format_datetime}} au {{volunteering.date_max_period|format_datetime}} ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a class="btn btn-danger" href="{{ url_for('deleteVolunteering', id_work_value=volunteering.id_work_value) }}"> <i class="fa fa-trash"></i> Confirmer la suppression </a>
              </div>
            </div>
          </div>
        </div> <!-- end modal -->
      </div> <!--end card body-->
    </div>
  

    <div class="card">
      <div class="card-header">
        <h4>Décompte de la masse salariale par projet
        </h4>
      </div>

      <div class="card-body">
        <div class="row">
          <!--<div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Budget</th>
                    <th>Temps alloué</th>
                    <th>Décompte au prorata</th>
                    <th>Cout forfaitaire</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                     <td>--</td>
                     <td>--</td>
                     <td>--</td>
                     <td>--</td>
                     <td>--</td>
                <tbody>
                  
                </tbody>
              </table>
              
              <a class="btn btn-success" href="#"> <i class="fa fa-plus"></i> Attribuer du temps à un projet </a>        

            </div>-->
            <p> Patience... Cette fonctionnalité arrive à la prochaine mise à jour ! </p>
        </div>
      </div>
    </div>

   
</div>

{% endblock %}