{% extends 'main.html' %}

{% block content %}
<div class="container">
    {% if Budget == None %}
      <h1> Créer une nouvelle ligne budgétaire </h1>
    {% else %}
      <h1> Modifier le budget "{{Budget.name}}" </h1>
    {% endif %}

    <form method = "post" enctype="multipart/form-data" novalidate>

    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <span class="h5"><i class="fa-solid fa-file-lines"></i> Généralités</span>
                </div>
                <div class="row card-body">
                    <!-- First row -->
                    <div class="form-group col-md-12">
                        <label for = "name">Nom de la ligne budgétaire</label><br>
                        {{ form.name(class="form-control") }}
                        {% for error in form.name.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div> 
                    <!-- Second row -->
                    <div class="orm-group col-md-4">
                      <label for = "reference">Référence interne</label><br>
                        {{ form.reference(class="form-control") }}
                        {% for error in form.reference.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="orm-group col-md-4">
                        <label for = "id_type_budget">Type de ligne budgétaire</label><br>
                        {{ form.id_type_budget(class="form-control") }}
                        {% for error in form.id_type_budget.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="orm-group col-md-4">
                        Secteur lucratif (TVA)
                    </div>
                    <!-- Third row -->
                    <div class="form-group col-md-4">
                        <label for = "id_funder">Financeur</label><br>
                        {{ form.id_funder(class="form-control") }}
                        {% for error in form.id_funder.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-4">
                        <label for = "id_activity">Activité</label><br>
                        {{ form.id_activity(class="form-control") }}
                        {% for error in form.id_activity.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <span class="h5"><i class="fa-solid fa-euro-sign"></i> Montants</span>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for = "budget_amount">Montant global</label><br>
                        {{ form.budget_amount(class="form-control") }}
                        {% for error in form.budget_amount.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for = "budget_amount">dont tva</label><br>
                        {{ form.budget_amount(class="form-control") }}
                        <small>Commandes assujetties uniquement</small>
                        {% for error in form.budget_amount.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="card">
            <div class="card-header">
                <span class="h5"><i class="fa-solid fa-calendar-days"></i> Calendrier prévisionnel</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                    <label for = "date_start">Date de démarrage</label><br>
                    {{ form.date_start(class="form-control") }}
                    {% for error in form.date_start.errors %} 
                        <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                    {% endfor %}
                  </div>
                  <div class="form-group col-md-4">
                    <label for = "date_return">Date d'échéance des bilans et rendus</label><br>
                    {{ form.date_return(class="form-control") }}
                    {% for error in form.date_return.errors %} 
                        <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                    {% endfor %}
                  </div>
                  <div class="form-group col-md-4">
                    <label for = "date_max_expenditure">Date buttoire des dépenses</label><br>
                    {{ form.date_max_expenditure(class="form-control") }}
                    {% for error in form.date_max_expenditure.errors %} 
                        <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                    {% endfor %}
                  </div> 
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="h5"><i class="fa-solid fa-user-clock"></i> Valorisation du temps salarié</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for = "payroll_limit">Plafond de la masse salariale éligible</label><br>
                        {{ form.payroll_limit(class="form-control") }}
                        <small class="text-muted">Le séparateur de décimale doit être un point</small>
                        {% for error in form.payroll_limit.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-4">
                        <label for = "indirect_charges">Charges indirectes (en %)</label><br>
                        {{ form.indirect_charges(class="form-control") }}
                        <small class="text-muted">Le séparateur de décimale doit être un point</small>
                        {% for error in form.indirect_charges.errors %} 
                            <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div> 
                    <div class="form-group col-md-4">
                        {{ form.profit_bonus(class="form-check-input") }}
                        <label for = "profit_bonus">Éligible au calcul de l'intéressement</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="h5"><i class="fa-solid fa-comment-dots"></i> Remarques</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form.comment(class="form-control") }}
                        {% for error in form.comment.errors %} 
                           <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <input class="btn btn-primary float-right" type = "submit" value = "Enregistrer" />
      </form>
</div>
{% endblock %}