{% extends 'main.html' %}

{% block content %}
<div class="container">
    {% if document == None %}
	<h1> Ajouter un nouveau document </h1>
    {% else %}
    <h1> Modifier "{{document.title}}" </h1>
    {% endif %}

      <form method = "post" enctype="multipart/form-data" novalidate>
        <div class="row">

          <div class="form-group col-md-8">
            <label for = "title"><strong>Titre du document *</strong></label><br>
                {{ form.title(class="form-control") }}
                <small class="text-muted">50 caractères maxi.</small>
                {% for error in form.title.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
                {% endfor %}
          </div>

          <div class="form-group">
            <label for = "description"><strong>Description du document *</strong></label><br>
              {{ form.description(class="form-control") }}
              {% for error in form.description.errors %} 
                   <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
              {% endfor %}
            <br>
          </div>

          <div class="form-group col-md-4">
            <label for = "id_type"><strong>Type de document *</strong></label><br>
              {{ form.id_type(class="form-control") }}
              {% for error in form.id_type.errors %} 
                 <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
              {% endfor %}
            <br><br>
          </div>
        </div>

       <div class="form-group col-md-6">
          <label for = "uploaded_file"><strong>Document *</strong></label><br>
            {{ form.uploaded_file(class="form-control") }}

            {% for error in form.uploaded_file.errors %} 
              <small class="form-invalid-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</small>
            {% endfor %}
          <!-- Keep previous uploaded file checkbox -->
          {% if document.uploaded_file %}
            <div class="form-group">
              <label for = "keep_file">Conserver le <a href="{{ url_for('static', filename=document.uploaded_file) }}"> document fourni précédemment</a></label>
              {{ form.keep_file(class="form-check-input", checked=true) }}
            </div>
          {% endif %}
        </div>


        <div  class="btn btn-group">
            <a class="btn btn-danger" href="{{ url_for('documents') }}"> Annuler </a>
            <input class="btn btn-primary float-right" type = "submit" value = "Enregistrer" />
        </div>
      </form>
</div>
{% endblock %}