{% extends 'main.html' %}

{% block content %}
<div class="container">
	<h1> Activités de l'association</h1>

	<table class="table table-striped">
         <thead>
            <tr>
               <th>Statut</th>
               <th>Activité</th>
               <th>Description</th>
               <th>Modifier</th>
            </tr>
         </thead>
         
         <tbody>
            {% for Activity in Activities %}
               <tr>
               	  <td>
               	    {% if Activity.active %} <span class="badge table-badge alert-success">Actif</span>
                    {% else %} <span class="badge table-badge alert-dark">Inactif</span>
                    {% endif %}
                  <td>{{ Activity.label }}</td>
                  <td>{{ Activity.deescription }}</td>
                  <td>
                  	<div>
                        <div class="btn btn-group">
                           <a class="btn btn-warning" href="{{ url_for('updateMember', id_member=Activity.id_activity) }}"> <i class="fa fa-edit"></i> </a>
                        </div>
                  	</div>
               </tr>
            {% endfor %}
        </tbody>
    </table>

<a class="btn btn-success disabled" href="{{ url_for('addMember') }}"><i class="fa fa-plus"></i> Enregistrer une nouvelle activité</a>

</div>
{% endblock %}